{% load i18n %}

<!-- XARITA -->
<section class="contact-map-section">
  <div class="taxi-cta">
    <a href="https://3.redirect.appmetrica.yandex.com/route?end-lat=37.237067&end-lon=67.303550&ref=mayli&appmetrica_tracking_id=1178268795219780156"
       target="_blank" rel="noopener noreferrer" class="taxi-btn">
      <i class="fa fa-taxi"></i> {% trans "Taksi chaqirish" %}
    </a>
  </div>
  <div class="yandex-map-widget-container">
    <a href="https://yandex.uz/maps/org/mayli/165119513497/?utm_medium=mapframe&utm_source=maps" class="yandex-map-link yandex-map-link-1">Mayli</a>
    <a href="https://yandex.uz/maps/10338/termez/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps" class="yandex-map-link yandex-map-link-2">Ресторан в Термезе</a>
    <a href="https://yandex.uz/maps/10338/termez/category/beer_shop/40891073018/?utm_medium=mapframe&utm_source=maps" class="yandex-map-link yandex-map-link-3">Магазин пива в Термезе</a>
    <iframe src="https://yandex.uz/map-widget/v1/?ll=67.305054%2C37.236532&mode=poi&poi%5Bpoint%5D=67.303550%2C37.237067&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D165119513497&tilt=0.8726646259971648&z=16.6" width="100%" height="400" frameborder="1" allowfullscreen="true"></iframe>
  </div>
</section>
