{% load static %}
{% comment %}Universal jadval (DataTables) JS — list shablonlarda extra_js blokiga include qilinadi.{% endcomment %}
<script src="{% static 'assets/plugins/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard-tables.js' %}?v=1.0"></script>
